In [2]:
import coronavirus_tweets
import time
start = time.time()
coronavirus_tweets_df = coronavirus_tweets.read_csv_3("./data/coronavirus_tweets.csv")
possible_sentiments = coronavirus_tweets.get_sentiments(coronavirus_tweets_df)
print(possible_sentiments)

['Neutral', 'Positive', 'Extremely Negative', 'Negative', 'Extremely Positive']

In [5]:
second_most_popular_sentiment = coronavirus_tweets.second_most_popular_sentiment(coronavirus_tweets_df)
print(second_most_popular_sentiment)

Negative

In [3]:
date_most_popular_tweets = coronavirus_tweets.date_most_popular_tweets(coronavirus_tweets_df)
print(date_most_popular_tweets)

25-03-2020

In [4]:
lower_case_df = coronavirus_tweets.lower_case(coronavirus_tweets_df)
print(lower_case_df["OriginalTweet"])

0        @menyrbie @phil_gahan @chrisitv https://t.co/i...
1        advice talk to your neighbours family to excha...
2        coronavirus australia: woolworths to give elde...
3        my food stock is not the only one which is emp...
4        me, ready to go at supermarket during the #cov...
                               ...
41152    airline pilots offering to stock supermarket s...
41153    response to complaint not provided citing covi...
41154    you know itâs getting tough when @kameronwild...
41155    is it wrong that the smell of hand sanitizer i...
41156    @tartiicat well new/used rift s are going for ...
Name: OriginalTweet, Length: 41157, dtype: object

In [6]:
remove_non_alphabetic_chars_df = coronavirus_tweets.remove_non_alphabetic_chars(lower_case_df)
print(remove_non_alphabetic_chars_df["OriginalTweet"])

0         menyrbie  phil gahan  chrisitv https   t co i...
1        advice talk to your neighbours family to excha...
2        coronavirus australia  woolworths to give elde...
3        my food stock is not the only one which is emp...
4        me  ready to go at supermarket during the  cov...
                               ...
41152    airline pilots offering to stock supermarket s...
41153    response to complaint not provided citing covi...
41154    you know it  s getting tough when  kameronwild...
41155    is it wrong that the smell of hand sanitizer i...
41156     tartiicat well new used rift s are going for ...
Name: OriginalTweet, Length: 41157, dtype: object

In [7]:
remove_multiple_consecutive_whitespaces_df = coronavirus_tweets.remove_multiple_consecutive_whitespaces(
    remove_non_alphabetic_chars_df)
print(remove_multiple_consecutive_whitespaces_df["OriginalTweet"])

0        menyrbie phil gahan chrisitv https t co ifz fa...
1        advice talk to your neighbours family to excha...
2        coronavirus australia woolworths to give elder...
3        my food stock is not the only one which is emp...
4        me ready to go at supermarket during the covid...
                               ...
41152    airline pilots offering to stock supermarket s...
41153    response to complaint not provided citing covi...
41154    you know it s getting tough when kameronwilds ...
41155    is it wrong that the smell of hand sanitizer i...
41156    tartiicat well new used rift s are going for o...
Name: OriginalTweet, Length: 41157, dtype: object

In [8]:
tokenize_df = coronavirus_tweets.tokenize(remove_multiple_consecutive_whitespaces_df)
print(tokenize_df["OriginalTweet_tokenized"])

0        [menyrbie, phil, gahan, chrisitv, https, t, co...
1        [advice, talk, to, your, neighbours, family, t...
2        [coronavirus, australia, woolworths, to, give,...
3        [my, food, stock, is, not, the, only, one, whi...
4        [me, ready, to, go, at, supermarket, during, t...
                               ...
41152    [airline, pilots, offering, to, stock, superma...
41153    [response, to, complaint, not, provided, citin...
41154    [you, know, it, s, getting, tough, when, kamer...
41155    [is, it, wrong, that, the, smell, of, hand, sa...
41156    [tartiicat, well, new, used, rift, s, are, goi...
Name: OriginalTweet_tokenized, Length: 41157, dtype: object

In [9]:
counts = coronavirus_tweets.count_words_with_repetitions(tokenize_df)
print(counts)

1350959

In [10]:
counts_without = coronavirus_tweets.count_words_without_repetitions(tokenize_df)
print(counts_without)

80071

In [11]:

top_words = coronavirus_tweets.frequent_words(tokenize_df, 10)
print("before filtering")
print(top_words)

before filtering
['the', 'to', 't', 'co', 'and', 'https', 'covid', 'of', 'a', 'in']

In [12]:
tdf = coronavirus_tweets.remove_stop_words(tokenize_df)
print(tdf.OriginalTweet_tokenized)

0        [menyrbie, phil, gahan, chrisitv, https, ifz, ...
1        [advice, talk, neighbours, family, exchange, p...
2        [coronavirus, australia, woolworths, give, eld...
3        [food, stock, empty, don, panic, food, stay, c...
4        [ready, supermarket, covid, outbreak, paranoid...
                               ...
41152    [airline, pilots, offering, stock, supermarket...
41153    [response, complaint, provided, citing, covid,...
41154    [tough, kameronwilds, rationing, toilet, paper...
41155    [wrong, smell, hand, sanitizer, starting, turn...
41156    [tartiicat, rift, amazon, normal, market, pric...
Name: OriginalTweet_tokenized, Length: 41157, dtype: object

In [13]:
counts = coronavirus_tweets.count_words_with_repetitions(tdf)
print(counts)

690677

In [ ]:
tdf = coronavirus_tweets.stemming(tdf)
print(tdf.OriginalTweet_tokenized)

In [ ]:
counts = coronavirus_tweets.count_words_with_repetitions(tdf)
print(counts)

In [ ]:
print("after filtering")
top_words = coronavirus_tweets.frequent_words(tdf, 10)
print(top_words)

In [ ]:
#
print("begin")
start_time = time.time()
y_hat = coronavirus_tweets.mnb_predict(coronavirus_tweets_df)
print(time.time() - start_time)

In [ ]:
y_true = list(coronavirus_tweets_df.Sentiment.values)

accuracy = coronavirus_tweets.mnb_accuracy(y_hat, y_true)
print(accuracy)
print(time.time()- start)

In [14]:
import pandas as pd

In [16]:
a =[[[],'b','c'],[[1,2,3]]]

In [17]:
b = pd.DataFrame(a)

In [21]:
b.explode(0).dro

     0  1  2
0  NaN  b  c

In [20]:
b

    0  1  2
0  []  b  c